<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy page</title>
  </head>
  <body>
    <h1>Buy Share</h1>

    <form action="{% url 'buy_share' %}" method="post">
      {% csrf_token %}

    
      <input type="text" name="share_name" placeholder="Share_name" /></br>
      <input type="text" name="share_symbol" placeholder="Share_symbol" /></br>
      <input type="number" name="quantity" placeholder="Quantity" /></br>
      <input type="number" name="price" placeholder="Price" /></br>

      <button type="submit">Buy</button>
    </form>
  </body>
</html>
