<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Buy History</h1>

      {% for buy in history.buy_history %}
      <h5>Share Name: {{buy.share_name}}</h5>
      <h5>Quantity: {{buy.quantity}}</h5>
      <h5>Price: {{buy.price}}</h5>
      {% endfor %}
    </div>
    <div>
      <h1>Sell History</h1>
      {% for sell in history.sell_history %}
      <h5>{{sell}}</h5>
      {% endfor %}
    </div>
  </body>
</html>
